
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f1f5f8;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

main {
  text-align: center;
}

h1 {
  color: #102a42;
  font-size: 3rem;
  margin-bottom: 1rem;
}

#value {
  font-size: 6rem;
  color: #102a42;
  margin-bottom: 1rem;
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.btn {
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 5px;
  border: 2px solid #102a42;
  background-color: #fff;
  color: #102a42;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: all 0.3s ease;
}

.btn:hover {
  background-color: #102a42;
  color: #fff;
}
